div.outWrapper{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 2.5%; 
    /* font-weight: 300; */
    

}

/* .outWrapper{
    margin: 8px;
    display: flex;
} */


p span{
    text-decoration: none;
}

.card{
    border-bottom: 1px solid #c7c9d1;
    width: 260px;
    height: 250px;
    margin-top: 10px;
    
}

/* .cardWrapper{
    margin-right: -5%;
} */

.cardWrapper:hover{
    box-shadow:0px 2px 4px 0 rgb(124, 124, 128)
}

.cardWrapper:hover .quickView{
    visibility: visible;
}

.cardWrapper:hover .shaddowBorder{
    border-width: 80%;
    /* border-bottom: 1px solid rgb(172, 169, 169); */
}

.cardWrapper:hover hr {
    visibility: visible;
}

hr{
    width:90%;
    margin-left: 5%;
    visibility :hidden;
    background-color: #c7c9d1;
    opacity: 0.4;
    
}



div.details p{
    font-size: 12px;
    font-weight: 100;
    padding-top: 10px;
    color: rgb(87, 84, 84);

}

/* 
h3{
    padding: 0.4em;
} */

.card img{
    position: relative;
    bottom:0.4em;
    left:3px;
    height: 160px;
    width: 16em;
    padding-bottom: 12px;
}

.details{
    position: relative;
    top: -1em;
    line-height: 90%;
    font-family:  ProximaNova,arial,Helvetica Neue,sans-serif;
    font-weight: 100;
    font-size: small;

}



.shaddowBorder{
    padding: 10px;  
}

 .disccount  h3 {
    color: #8a584f;
    margin-bottom: -9px;
    margin-top: 5px;
    font-size:16px;
    padding: 7px;
}



    .quickView{
        color: #3959e9;
        text-align: center;
        visibility: hidden;
        padding: 12px;
    }

    .rating{
        display: flex;
       justify-content: flex-start;
        align-items: baseline;
        font-size: 11px;
        padding-top: 27px;
    }


    .rating p{
        padding-left: 36px;
    }

    .rating button{
        background-color: rgba(15, 186, 15, 0.644);
        border-style: none;
        padding: 4px  7px;
        border-radius: 3px;
        color: aliceblue;
        font-size: 12px;
    }



    @media screen and (max-width:500px){

        div.outWrapper{
               margin: 0 auto;         
        
        }
        

    }




    @media screen and (max-width:931px){

        div.outWrapper{
            display: flex;
            justify-content: center;
            margin: 0 auto;
            
        
        }
        

    }




    

    @media screen and (max-width:1273px) {

        div.outWrapper{
            display: flex;
            justify-content: flex-start;
            margin: 0  auto;
        }
        

    }
