
/* .parentContainer{
  background-color: #171a29;
  width: 100vw;
 z-index: -1;
}


.container {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.carousel {
  padding-top: 20px;
  width: 84%;
  height: 340px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}




img {
  width: 260px;
  height: 260px;
  padding: 20px;
}


.controls button.next {
  position: fixed;
  right: 10%;
  top: 35%;
  background-color: rgb(224, 211, 211);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: black;
}
.controls button.prev {
  position: absolute;
  left: 11%;
  top: 35%;
  background-color: rgb(239, 232, 232);
  border-radius: 55%;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;

}


.slider {
  display: flex;
  transition: all 0.5s;
  justify-content: space-around;
}

div.slider img:hover{
  transform: scale(105%, 105%);
}   */









.container {
 background-color: #171a29;
 z-index: -1;
 width: 100%;
}
.carousel {
  background: #171a29;
  padding-top: 20px;
  width: 85%;
  height: 340px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  left:8%;
  transition: transform 0.5s;
}
.slider {
  display: flex;
  justify-content: center;
  height: 100%;
  transition: all 0.5s;
}
img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 260px;
  margin: 20px 30px;
}
.controls button.next {
  position: absolute
  ;
  right: 6%;
  top: 225px;
  background-color: rgb(224, 211, 211);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: black;
}
.controls button.prev {
  position: absolute;
  left: 6%;
  top: 225px;
  background-color: rgb(239, 232, 232);
  border-radius: 55%;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;

}

.controls button.prev i:hover{
  position: relative;
  right: 5px;
}

.controls button.next i:hover{
  position: relative;
  left: 3px;
}

.controls button i {
  font-size: 38px;
  padding: 5px;
  transition: ease 0.5ms;
}



div.slider img:hover{
  transform: scale(105%, 105%);
} 


